$thirds: 96% / 3;

.control--panel {
	position: absolute;
	z-index: $z-50;
	right: 0;
	max-width: 20rem;
	height: 100vh;
	overflow: hidden;
	width: 30%;
	background-color: $cp-bg-color;
	color: $hex-white;
	padding-top: $large-spacing * 1.5;
	// box-shadow: 0 5px 20px rgba( 0,0,0, 0.5);
	// opacity: 0;
	transition: all 2s ease-out;

	&:before {
		content: ' ';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0.3;
		pointer-events: none;
		@include blue-glow-radial-gradient();
	}


	> header {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $large-spacing * 1.5;
		display: flex;
		justify-content: center;

		&:before {
			content: ' ';
			position: absolute;
			width: $lip-shade-width;
			height: $lip-shade-height;
			left: $lip-shade-x;
			bottom: 0;
			opacity: 1;
			border-radius: 0 0 50% 50%;
			@include lip-shade-gradient();
			transition: opacity 0.5s ease;
		}

		&:after {
			content: ' ';
			position: absolute;
			width: $lip-glint-width;
			height: $lip-glint-height;
			left: $lip-glint-x;
			bottom: -3px;
			opacity: 0.2;
			border-radius: 0 0 50% 50%;
			@include lip-glint-gradient();
			transition: opacity 0.5s ease;
		}

		button {
			width: 50%;
			padding: 0;
			margin: 0;
			// background-color: darken( $blue-medium, 50% );
			background-color: transparent;
			border: none;
			color: $blue-medium;
			cursor: pointer;
			&:focus {
				outline: none;
			}
			outline: none;
			&.is-active {
				cursor: default;
				color: $theme-orange;
				background-color: transparent;
				// background-color: darken( $blue-medium, 40% );
			}
		}
	}

	> footer {
		position: absolute;
		width: 100%;
		height: 20rem;
		bottom: 0;
		z-index: 100;
		// box-shadow: 0 -5px 6px rgba( 0, 0, 0, 0.5 );

		&:before {
			content: ' ';
			position: absolute;
			width: 100%;
			z-index: -1;
			height: $large-spacing/1.3;
			top: 0;
			left: 0;
			border-radius: 50%;
			box-shadow: 0 -3px 20px rgba( 0,0,0,0.4 );
			transition: opacity 0.2s ease;
		}

		&:after {
			content: ' ';
			position: absolute;
			width: 100%;
			height: $lip-glint-height;
			left: 0;
			top: 2px;
			opacity: 0.2;
			border-radius: 0 0 50% 50%;
			@include lip-glint-gradient();
			transition: opacity 0.5s ease;
		}

		.footer-content {
			width: 100%;
			height: 100%;
			padding: $standard-spacing;
			background-color: darken( $blue-medium, 40% );
			border-top: 1px solid darken( $blue-medium, 50% );
		}

		.footer-title {
			font-size: 1rem;
			color: $theme-orange;
			font-weight: normal;
		}

		.btn-group {
			@include flex-vCentered-hSpaced-children();
			margin-bottom: $standard-spacing;
			flex-wrap: wrap;
			.button {
				align-self: stretch;

				&.full {
					width: 100%;
				}
			}
		}

		.button {
			width: $thirds;
			padding: $standard-spacing $standard-spacing/2;
			margin: 0;
			background-color: darken( $blue-medium, 30% );
			border: none;
			color: $blue-medium;
			cursor: pointer;
			&:hover {
				color: white;
				background-color: darken( $blue-medium, 20% );
			}
			&:focus {
				outline: none;
			}
			outline: none;
			&.is-active {
				color: $theme-orange;
				// background-color: transparent;
				background-color: darken( $blue-medium, 20% );
			}
		}
	}

	&__page-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		margin-top: $large-spacing;
		overflow-x: hidden;
		overflow-y: scroll;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			width: 0;
		}
	}

	&__page {
		position: absolute;
		top: 0;
		width: 100%;
		padding: 0 $standard-spacing $large-spacing*10 $standard-spacing;
		pointer-events: none;
		// opacity: 0;
		transform: translateX( 100% );
		transition: all 0.2s ease;

		&.is-active {
			position: relative;
			pointer-events: initial;
			transform: translateX( 0 );
			// opacity: 1;
			transition: all 0.2s ease;
		}

		&.to-left { transform: translateX( -100% ); }
		&.to-right { transform: translateX( 100% ); }
		&.from-left { transform: translateX( 0 ); }
		&.from-right { transform: translateX( 0 ); }
	}

	&__section {
		position: relative;
		margin-bottom: $standard-spacing;
		// padding-top: $large-spacing;
		margin-left: 0;
		margin-right: 0;

		.panel--content {
			padding-top: $standard-spacing * 3;

			&:after {
				content: ' ';
				position: absolute;
				width: $lip-glint-width;
				height: $lip-glint-height;
				left: $lip-glint-x;
				bottom: -3px;
				opacity: 0.2;
				border-radius: 0 0 50% 50%;
				@include lip-glint-gradient();
				transition: opacity 0.5s ease;
			}

			// background-color: darken( $blue-medium, 30% );
		}

		header {
			position: absolute;
			width: 100%;
			top: 0;
			@include flex-vCentered-hSpaced-children();
			// background-color: darken( $blue-medium, 40% );
			margin-left: 0;
			margin-right: 0;
			color: $blue-medium;
			font-size: 90%;

			&:after {
				content: ' ';
				position: absolute;
				width: $lip-shade-width;
				height: $lip-shade-height;
				left: $lip-shade-x;
				bottom: 0;
				opacity: 1;
				border-radius: 0 0 50% 50%;
				@include lip-shade-gradient();
				transition: opacity 0.5s ease;
			}

			.section-title {
				padding: $standard-spacing $standard-spacing $standard-spacing $smaller-spacing;
				text-align: left;
			}

			.section-toggle {
				padding: $small-spacing;
				border: none;
				width: 30px;
				cursor: pointer;
				background-color: transparent;
				color: $control-panel-item-header-color;
				font-size: 1.5rem;
				line-height: 0.7;
				@include flex-centered-children();

				&:focus {
					outline: none;
				}
			}

			.toggle-icon {
				display: block;
				width: 1rem;
				height: 1rem;
				transform-origin: center center;
				transform: translateY( -25% ) scale( 1, -1 );
				transition: transform 0.2s ease;
			}

			&:hover {
				cursor: pointer;
				color: lighten( $blue-medium, 20% );

				.section-toggle {
					color: lighten( $blue-medium, 20% );
				}
			}
			
		}

		&.is-active {

			header {
				color: $control-panel-item-header-color-active;
				&:before {
					opacity: 1;
				}
			}
			.section-toggle {
				color: $control-panel-item-header-color-active;
			}
			.toggle-icon {
				transform: translateY( 25% ) scale( 1, 1 );	
			}
			fieldset {
				transition: height 0.2s ease;
			}

			
			header {
				&:hover {
					color: $control-panel-item-header-color-active-hover;
					
					.section-toggle {
						color: $control-panel-item-header-color-active-hover;
					}
				}
			}		
		}
		
	}



	fieldset {
		position: relative;
		border: none;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		overflow: hidden;
		height: 0;
		transition: height 0.2s ease;

		&:before {
			content: ' ';
			position: absolute;
			width: 90%;
			z-index: 20;
			height: $large-spacing/1.3;
			top: -$large-spacing/1.3;
			left: 5%;
			border-radius: 50%;
			box-shadow: 0 10px 20px rgba( 0,0,0,0.7 );
			transition: opacity 0.2s ease;
		}

		&:after {
			content: ' ';
			position: absolute;
			z-index: 20;
			width: 100%;
			height: $large-spacing;
			left: 0;
			bottom: -$large-spacing;
			border-radius: 50%;
			box-shadow: 0 -5px 10px rgba( 0,0,0,0.7 );
			transition: opacity 0.5s ease;
		}

		.button-list {
			position: relative;
			list-style: none;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			padding: $large-spacing $standard-spacing $large-spacing 0;
			margin: 0;
			z-index: 10;
			// justify-content: center;

			li {
				position: relative;
				min-width: 33.3333333%;
				padding-bottom: 33.3333333%;

				> div {
					position: absolute;
					top: 0.25rem;
					left: 0.25rem;
					bottom: 0.25rem;
					right: 0.25rem;
					display: flex;
					align-items: stretch;
					justify-content: stretch;
				}

				.input-denominator {
					font-size: 1rem;
					line-height: 1.5rem;
					margin-left: 0.15rem;
					margin-top: 0.3rem;
					// padding-bottom: 3px;
				}

				input {
					position: relative;
					background: transparent;
					border: none;
					font-size: 1.25rem;
					line-height: 1.25rem;
					height: 1.25rem;
					width: 60%;
					color: lighten( $blue-medium, 40% );
					margin-top: 0.4rem;
					padding-top: 0;
					padding-bottom: 0;
					text-align: right;

					&:focus {
						color: $hex-white;
						outline: none;
					}
				}
			}

			button, .pseudo-button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				background: darken( $blue-medium, 20% );
				color: lighten( $blue-medium, 40% );
				border: 0;
				font-size: 0.9rem;
				transition: all 0.5s ease;
				&:hover {
					cursor: pointer;
					transition: all 0s ease;
					background: darken( $blue-medium, 10% );
					color: lighten( $blue-medium, 60% );
				}
				&.is-active {
					background: $blue-medium;
					color: $hex-white;
				}

				&.no-bg {
					background: transparent;
				}
			}

			.pseudo-button {
				div {
					display: flex;
					justify-content: center;
				}
			}
		}

		hr {
			background-color: darken( $blue-medium, 45% );
			margin: $standard-spacing 0 0 0;
			width: 100%;
			height: 1px;
			border: none;
		}
	}

	&__item {
		padding: $standard-spacing*1.5 0 0 0;
		margin-bottom: $standard-spacing / 2;
		@include flex-vCentered-hSpaced-children();

		input {
			margin-top: $standard-spacing;
			margin-bottom: $standard-spacing / 1.5;
			width: 100%;
		}

		&:last-of-type {
			padding: $standard-spacing*1.5 0 $standard-spacing*1.5 0;
		}

		+ .control--panel__item {
			padding-top: $small-spacing;
		}

	}

	&__item-labels {
		width: 100%;
		@include flex-vCentered-hSpaced-children();

		font-size: 80%;
		font-weight: 200;
		letter-spacing: 0.05rem;
		color: lighten( $blue-medium, 20% );
	}
	&__item-controls {
		width: 75%;
		> label {
			font-size: 90%;
			padding-bottom: $standard-spacing;
			color: lighten( $blue-medium, 20% );
		}

	}
	&__item-output {
		position: relative;
		bottom: $standard-spacing / 1.5;
		width: 20%;
		text-align: right;
		align-self: flex-end;
		color: $blue-medium;
		padding: $standard-spacing / 2;
		background-color: darken( $blue-medium, 50% );
	}
	.info--row p {
		font-size: 0.9rem;
	}

	.info--row__error {
		margin-top: 0;
	}

	.info--row__message {
		margin-top: 0;
	}

	&.is-active {
		opacity: 1;
		transition: all 0s ease;
	}

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.listitem {
	flex-grow: 3;
}

.details--panel__info {
	border-bottom: none;
	padding-bottom: $standard-spacing;
}

.details--panel__cta {
	@include flex-vCentered-hSpaced-children();
	border-top: none;
	padding-top: $standard-spacing;

	.info--row__btn {
		flex-shrink: 0;
		margin-bottom: 0;
	}

}